<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

   <!--[設定] 寫入目標-->
  <targets>
    <target name="Db" xsi:type="Database"
            connectionStringName="Data Source=.;Initial Catalog=BusinessDB;Persist Security Info=True;User ID=sa;Password=1qaz@wsx"
            commandText="INSERT INTO NLog_Error(ThreadId, MachineName, LogName, LogLevel, LogMessage, CallSite, Exception, Stacktrace) VALUES (@ThreadId, @MachineName, @LogName, @LogLevel, @LogMessage, @CallSite, @Exception, @Stacktrace);">
      <parameter name="@ThreadId" layout="${threadid}"/>
      <parameter name="@MachineName" layout="${machinename}"/>
      <parameter name="@LogName" layout="${logger}"/>
      <parameter name="@LogLevel" layout="${level}"/>
      <parameter name="@LogMessage" layout="${message}"/>
      <parameter name="@CallSite" layout="${callsite:filename=true}"/>
      <parameter name="@Exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>
    </target>
  </targets>

  <!--[設定] 紀錄規則-->
  <rules>
    <logger name="*" levels="Debug,Info,Error,Fatal" writeTo="Db" />
  </rules>

</nlog>
